﻿@model DiagnoseViewModel

@{
    ViewData["Title"] = "Diagnose";
}
<div class="row">
    <div class="col-md-3">
        <h2> Choose your symptoms: </h2>
        <form asp-controller="Main" asp-action="Diagnose" method="post">
            <table class="table-striped">
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.AllSymptoms)
                        {
                            <tr>
                                <th>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="Ids" value="@item.SymptomId" /> @item.SymptomName
                                        </label>
                                    </div>
                                </th>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <input type="submit" value="Submit" />
        </form>

    </div>
    @{ if (Model.PossibleDiseases.Count() != 0)
        {
            <div class="col-md-3">
                <h2> You may have: </h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Disease Name</th>
                            <th>Symptoms: </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PossibleDiseases)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(modelItem => item.DiseaseName)
                                </th>
                                @foreach (var newitem in item.Symptoms)
                                {
                                    <td>
                                        @newitem.symptom.SymptomName
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>

