﻿@model MainViewModel

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<div class="row">

    <div class="col-md-3">
        <h2>Important information</h2>
        <br />
        <h4>
            The 3 Diseases with the most symptoms are:
        </h4>
        <table>
            @foreach (var item in Model.DiseasesWithMostSymptoms)
            {
                <tr>
                    <th>
                        <ul>

                            <li>
                                @Html.DisplayFor(modelItem => item.DiseaseName)
                            </li>
                        </ul>
                    </th>
                </tr>
            }
        </table>
        <br />
        <h4>
            The 3 Symptoms, that are most popular are the following:
        </h4>
        <table>
            @foreach (var item in Model.MostPopularSymptoms)
            {
                <tr>
                    <th>
                        <ul>

                            <li>
                                @Html.DisplayFor(modelItem => item.SymptomName)
                            </li>
                        </ul>
                    </th>
                </tr>
            }
        </table>
        <br />
        <h4>
            There @{
                if (Model.UniqueSymptomNr == 1)
                {
                    @Html.Raw("is ")
                    @Html.DisplayFor(Model => Model.UniqueSymptomNr)
                    @Html.Raw(" unique symptom in the DB")
                }
                else
                {
                    @Html.Raw("are ")
                    @Html.DisplayFor(Model => Model.UniqueSymptomNr)
                    @Html.Raw(" unique symptoms in the DB")
                }
            }

        </h4>
    </div>

    <div class="col-md-3">
        <h2> Data: </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Disease Name</th>
                    <th>Symptoms: </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.AllDiseases)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.DiseaseName)
                        </th>
                        @foreach (var newitem in item.Symptoms)
                        {
                            <td>
                                @newitem.symptom.SymptomName
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





