﻿@model InteractiveDiagnoseViewModel
@{
    ViewData["Title"] = "InteractiveDiagnose";
}
<h2>InteractiveDiagnose:</h2>
<br />

<form asp-controller="Main" asp-action="InteractiveDiagnose" method="post">
    @{ if (Model.UserDisease != null)
        {
            <h2>
                Congratulations.......
            </h2>
            <br />
            <label>
                You have @Model.UserDisease.DiseaseName
            </label>

        }
        else
        {
            <label>
                @Model.HandledRelationData.Where(x => !Model.CheckedIds.Contains(x.SymptomId)).First().symptom.SymptomName
            </label>
            <input type="hidden" asp-for="SymptomId" value="@Model.HandledRelationData.Where(x => !Model.CheckedIds.Contains(x.SymptomId)).First().SymptomId" readonly />
            <input type="checkbox" asp-for="UserDecision" />
            <input type="submit" value="Submit" />
        }
    }
</form>
