﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-3">
        <h2>Welcome</h2>
        <ul>
            <li>CSV file needs to be in HospitalApp root folder</li>
            <li>Input field sets the name of the CSV file thats read...</li>
            <li><h4> Update-Database needs to be called before application will work </h4></li>
        </ul>
        <table>
            <tr>
                <td>
                    <form method="post" asp-controller="Home" asp-action="Main">
                        <input type="text" id="File_name" name="FileName" value="Diseases.csv">
                        <button type="submit">Upload</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="post" asp-controller="Main" asp-action="Index">
                        <button type="submit">Data Already inserted</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
